h1{
text-align:center;
color:red;
}
body{
background-image:url("student.jpg");
background-repeat:no-repeat;
background-size:cover;
filter: alpha(opacity=30);
}
tr{
color:white;
font-size:30px;
}
form{
text-align:center;
}
.logindata{
border-radius:10px;
padding:10px;
width:100px;
height:50px;
border:5px;
}
.category{
border-radius:10px;
padding:10px;
width:500px;
height:50px;
border:5px;
}
#submit1{
margin-right:900px;
height:30px;
width:100px;
border-radius:10px;
padding:10px;
color:white;
}
#submit2{
margin-left:1000px;
height:30px;
width:100px;
border-radius:10px;
padding:10px;
color:white;
}
#submit{

height:30px;
width:100px;
border-radius:10px;
padding:10px;
color:white;
}
#foot{
position:absolute;
bottom:0px;
width:1300px;
height:100px;
border-top:1px;
background-color:BlanchedAlmond;
text-align:center;font-size:25px;color:red;
}
#login{ 
float:left;
border-radius:20px;
background-color:DeepSkyBlue;
height:500px;width:800px;
margin-left:100px;
padding:80px;

}



