h1{
text-align:center;
font-size:50px;
color:MediumBlue;

}
body{
margin-top:100px;
background-image:url("student.jpg");
background-repeat:no-repeat;
background-size:cover;
}
#user1,#submit{height:30px;
width:150px;
}
tr{
color:navy;
}
form{
text-align:center;
}

.logindata{
border-radius:10px;
padding:10px;
width:500px;
height:60px;
border:5px;
}
#foot{
position:absolute;
bottom:0px;
width:1300px;
height:80px;
border-top:1px;
background-color:navy;
text-align:center;font-size:25px;color:red;
}
#submit{
color:white;
font-size:20px;
border-shadow:05px #9400D3}

a:link{color:white}
a:hover{color:#05386b}
a:active{color:#afd275}
a:visited{color:#950740}

#login{ 
float:left;
border-radius:20px;
background-color:DeepSkyBlue;
height:155px;width:500px;
margin-left:300px;
padding:80px;
}

