h1{
text-align:center;
color:red;
}
body{

background-image:url("student.jpg");
background-repeat:no-repeat;

}
tr{font-size:30px;
color:navy;
}
form{
margin-left:200px;
font-size:20px;
color:white;

}

.data{
border-radius:10px;
padding:10px;
width:500px;
height:60px;
border:5px;

}
#foot{

position:absolute;

width:700px;
height:100px;
border-top:1px;
background-color:BlanchedAlmond;
text-align:center;font-size:25px;color:red;
}
#login{ 

border-radius:20px;
background-color:DeepSkyBlue;
height:900px;width:1000px;
margin-left:100px;


}
#submit1{
margin-left:1000px;
border-radius:5px;
background-color:pink;
text-color:white;
width:100px;
height:30px;

}
#submit2{
margin-right:900px;
border-radius:5px;
background-color:pink;
text-color:white;
width:100px;
height:30px;

}
